
<a href="/nations">All nations</a><br>
<a href="/nations/new">Add a nation</a><br>
<a href="/athletes">All athletes</a><br>
<a href="/athletes/new">Add an athlete</a><br>
<a href="/events">All events</a><br>
<a href="/events/new">Add an event</a><br>
<a href="/athletes_events/new">Enter an athlete into an event</a>

<!-- <h4>Nations</h4>

<p>
  <% @nations.each do |nation| %>
    <% id = nation.id %>
    <a href="/nations/<%= id %>"><%= nation.name %></a><br>
  <% end %>
</p>

<h4>Athletes</h4>
<p>
  <% @athletes.each do |athlete| %>
    <% id = athlete.id %>
    <a href="/athletes/<%= id %>"><%= athlete.full_name %></a><br>
  <% end %>
</p>


<h4>Events</h4>
<p>
  <% @events.each do |event| %>
    <% id = event.id %>
    <a href="/events/<%= id %>"><%= event.title %></a><br>
  <% end %>
</p> -->
