<h4>Nations</h4>
<p>
  <% @nations.each do |nation| %>
    <% id = nation.id %>
    <a href="/nations/<%= id %>"><%= nation.name %></a><br>
  <% end %>
</p>

<h4>Athletes</h4>
<p>
  <% @athletes.each do |athlete| %>
    <% id = athlete.id %>
    <a href="/athletes/<%= id %>"><%= athlete.full_name %></a><br>
  <% end %>
</p>


<h4>Events</h4>
<p>
  <% @events.each do |event| %>
    <% id = event.id %>
    <a href="/events/<%= id %>"><%= event.title %></a><br>
  <% end %>
</p>





<!---
<form action="/nations/" method="get">
  <p>
    <label for="id">Select the nation:</label>
        <select name="id">
          <option label=" "></option>
          <% @nations.each do |nation| %>
            <option value="<%= nation.id %>">
              <%= nation.name %>
            </option>
          <% end %>
        </select>
  </p>  

  <p><input type="submit" value="Find athletes"></p>
</form>
-->
