<h2><%= @nation.name %></h2>

<p>Athletes competing for <%= @nation.name %>:
  <ul>
    <% @athletes.each do |athlete| %>
      <a href="/athletes/<%= athlete.id %>">
        <li>
          <%= athlete.full_name %>
        </li>
      </a>
    <% end %>
  </ul>
</p>

<p>Events <%= @nation.name %> has entered:</p>

<a href="">Edit this nation</a>
<a href="">Delete this nation</a>